.form-control{
	size: 10px !important;
}

body {
	background-image: url("http://il4.picdn.net/shutterstock/videos/1049113/thumb/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	color: white;
}
